In [122]:
import pandas as pd
import jieba
import re
import matplotlib
import matplotlib.pyplot as plt
import gensim
from gensim.models import CoherenceModel
from gensim import corpora
import pyLDAvis.gensim_models
import numpy as np

from pymongo import MongoClient
import pymongo

from gensim.test.utils import datapath

In [123]:
# 使用GPU
import os
os.environ["CUDA_VISIBLE_DEVICES"]="1"
! nvidia-smi

Sat Jul  9 12:52:29 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 470.129.06   Driver Version: 470.129.06   CUDA Version: 11.4     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  NVIDIA GeForce ...  Off  | 00000000:01:00.0 Off |                  N/A |
| 32%   40C    P8    21W / 260W |     22MiB / 11019MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+
|   1  NVIDIA GeForce ...  Off  | 00000000:02:00.0 Off |                  N/A |
| 30%   38C    P8    25W / 260W |      8MiB / 11019MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|    0   N/A  N/A      1998      G   /usr/lib/xorg/Xorg                  9MiB |
|    0   N/A  N/A      2463      G   /usr/bin/gnome-shell                7MiB |
|    1   N/A  N/A      1998      G   /usr/lib/xorg/Xorg                  4MiB |
+-----------------------------------------------------------------------------+

# MongoDB

In [124]:
mongoURI = "mongodb://%s:%s@%s/%s?authMechanism=SCRAM-SHA-1" % ("eva", "eva_30241", "140.117.69.70:30241", "eva")

try:
    conn = pymongo.MongoClient(mongoURI)
    db = conn.eva
    # db_rm_us = db.rm_patent_us
    lda_topic_us = db.lda_topic_us_16


except errors.ConnectionFailure as err:
    print(err)

In [125]:
df_lda_topic_us = pd.DataFrame(list(lda_topic_us.find()))

In [126]:
df_lda_topic_us

,_id,patentNumber,appDate,company,classification,brief,topic
0,62c84d41fd9e37039c99e5e7,US20130223235A1,2010-07-14 04:00:00,[BlackBerry Ltd],"[H04W36/30, H04W48/20, H04W36/04, H04W84/045]",A UE comprising a processor configured to perf...,11
1,62c84d41fd9e37039c99e5e8,US8458315B2,2010-12-06 05:00:00,[SAP SE],"[H04W4/00, H04L67/12, H04W4/029, H04L67/2857, ...",Embodiments of the present invention include s...,2
2,62c84d41fd9e37039c99e5e9,US10198333B2,2010-12-23 05:00:00,[Intel Corp],"[G06F11/36, G06F11/2733, G06F11/22, G06F11/267...",An apparatus and method is described herein fo...,1
3,62c84d41fd9e37039c99e5ea,US9030941B2,2010-06-16 04:00:00,[Nokia Solutions and Networks Oy],"[H04W52/0206, H04W24/02, H04W24/08, H04W88/08,...",There is proposed a mechanism for power saving...,12
4,62c84d41fd9e37039c99e5eb,US9198185B2,2010-02-10 05:00:00,[Nokia Solutions and Networks Oy],"[H04W72/082, H04B1/707, H04L5/0007, H04L5/001,...",There is proposed a mechanism by means of whic...,12
...,...,...,...,...,...,...,...
38647,62c84d41fd9e37039c9a7cde,US20210111835A1,2020-09-28 04:00:00,[Qualcomm Inc],"[H04L1/1621, H04L1/1896, H04L12/1868, H04L12/1...","The disclosure relates to methods, devices, an...",11
38648,62c84d41fd9e37039c9a7cdf,US11151388B2,2020-12-15 05:00:00,[7 Eleven Inc],"[G06K9/00771, G06K9/00758, G06Q30/0271, G06V20...","An apparatus includes an interface, display, m...",10
38649,62c84d41fd9e37039c9a7ce0,US20210063274A1,2020-07-31 04:00:00,[Exfo Inc],"[G06T7/0004, G01M11/3145, G02B6/3866, G01M11/3...","There is therefore provided a method, system a...",4
38650,62c84d41fd9e37039c9a7ce1,US20210141417A1,2020-07-28 04:00:00,[Samsung Display Co Ltd],"[G06F3/0448, G06F3/0416, G06F3/0446, G02F1/133...",A display device includes a first non-folding ...,1
38651,62c84d41fd9e37039c9a7ce2,US20200344025A1,2020-07-08 04:00:00,[Fujitsu Ltd],"[H04W72/1268, H04L5/0053, H04L5/0091, H04W28/0...",A wireless communication system includes: a ba...,1

In [127]:
df_us_all = df_lda_topic_us.explode('classification')

In [128]:
df_us_all.head(3)

,_id,patentNumber,appDate,company,classification,brief,topic
0,62c84d41fd9e37039c99e5e7,US20130223235A1,2010-07-14 04:00:00,[BlackBerry Ltd],H04W36/30,A UE comprising a processor configured to perf...,11
0,62c84d41fd9e37039c99e5e7,US20130223235A1,2010-07-14 04:00:00,[BlackBerry Ltd],H04W48/20,A UE comprising a processor configured to perf...,11
0,62c84d41fd9e37039c99e5e7,US20130223235A1,2010-07-14 04:00:00,[BlackBerry Ltd],H04W36/04,A UE comprising a processor configured to perf...,11

In [129]:
sum(df_us_all.classification.isna())

0

In [130]:
len(df_us_all)

369998

In [131]:
df_us_all_n = df_us_all[df_us_all["classification"].notna()].copy()
df_us_all_n

,_id,patentNumber,appDate,company,classification,brief,topic
0,62c84d41fd9e37039c99e5e7,US20130223235A1,2010-07-14 04:00:00,[BlackBerry Ltd],H04W36/30,A UE comprising a processor configured to perf...,11
0,62c84d41fd9e37039c99e5e7,US20130223235A1,2010-07-14 04:00:00,[BlackBerry Ltd],H04W48/20,A UE comprising a processor configured to perf...,11
0,62c84d41fd9e37039c99e5e7,US20130223235A1,2010-07-14 04:00:00,[BlackBerry Ltd],H04W36/04,A UE comprising a processor configured to perf...,11
0,62c84d41fd9e37039c99e5e7,US20130223235A1,2010-07-14 04:00:00,[BlackBerry Ltd],H04W84/045,A UE comprising a processor configured to perf...,11
1,62c84d41fd9e37039c99e5e8,US8458315B2,2010-12-06 05:00:00,[SAP SE],H04W4/00,Embodiments of the present invention include s...,2
...,...,...,...,...,...,...,...
38651,62c84d41fd9e37039c9a7ce2,US20200344025A1,2020-07-08 04:00:00,[Fujitsu Ltd],H04W72/0406,A wireless communication system includes: a ba...,1
38651,62c84d41fd9e37039c9a7ce2,US20200344025A1,2020-07-08 04:00:00,[Fujitsu Ltd],H04W72/042,A wireless communication system includes: a ba...,1
38651,62c84d41fd9e37039c9a7ce2,US20200344025A1,2020-07-08 04:00:00,[Fujitsu Ltd],H04W72/14,A wireless communication system includes: a ba...,1
38651,62c84d41fd9e37039c9a7ce2,US20200344025A1,2020-07-08 04:00:00,[Fujitsu Ltd],H04W76/27,A wireless communication system includes: a ba...,1
38651,62c84d41fd9e37039c9a7ce2,US20200344025A1,2020-07-08 04:00:00,[Fujitsu Ltd],H04W72/1284,A wireless communication system includes: a ba...,1

In [132]:
# 取cpc前3碼
df_us_all_n["cpc_n"] = df_us_all_n.classification.apply(lambda x: x[0:11])

In [141]:
df_us_all_n = df_us_all_n.sort_values("topic")

In [142]:
df_us_all_n.to_csv("lda_all_result/find_topic_cpc_us.csv",index=0)

In [143]:
df_topic = pd.read_csv('lda_all_result/find_topic_cpc_us.csv')

In [144]:
df_topic.tail()

,_id,patentNumber,appDate,company,classification,brief,topic,cpc_n
369993,62c84d41fd9e37039c9a7733,US20210284496A1,2020-03-16 04:00:00,['Otis Elevator Co'],B64C2201/146,"Disclosed is an elevator inspection system, ha...",15,B64C2201/14
369994,62c84d41fd9e37039c9a7733,US20210284496A1,2020-03-16 04:00:00,['Otis Elevator Co'],B64C2201/127,"Disclosed is an elevator inspection system, ha...",15,B64C2201/12
369995,62c84d41fd9e37039c9a7733,US20210284496A1,2020-03-16 04:00:00,['Otis Elevator Co'],B64C2201/027,"Disclosed is an elevator inspection system, ha...",15,B64C2201/02
369996,62c84d41fd9e37039c9a50b0,US11200218B2,2019-04-17 04:00:00,['International Business Machines Corp'],G06F21/6218,Embodiments for performing consistent data mas...,15,G06F21/6218
369997,62c84d41fd9e37039c9a39b9,US20210152526A1,2019-11-18 05:00:00,['Cisco Technology Inc'],H04Q2209/40,"In one embodiment, a traffic analysis service ...",15,H04Q2209/40

## 找出topic最多的CPC

In [88]:
df_us_all_n.groupby(["topic","cpc_n"],as_index=False).size()

        topic        cpc_n  size
0           0   A01B69/001     1
1           0   A01B69/008     1
2           0   A01B79/005     2
3           0   A01G25/167     1
4           0   A01K11/006     1
...       ...          ...   ...
104537     15    Y04S50/12     1
104538     15  Y10T137/186     1
104539     15  Y10T137/189     1
104540     15  Y10T137/198     1
104541     15  Y10T137/201     1

[104542 rows x 3 columns]

In [89]:
df_us_all_s = df_us_all_n.groupby(["topic","cpc_n"],as_index=False).size()
df_us_all_s

        topic        cpc_n  size
0           0   A01B69/001     1
1           0   A01B69/008     1
2           0   A01B79/005     2
3           0   A01G25/167     1
4           0   A01K11/006     1
...       ...          ...   ...
104537     15    Y04S50/12     1
104538     15  Y10T137/186     1
104539     15  Y10T137/189     1
104540     15  Y10T137/198     1
104541     15  Y10T137/201     1

[104542 rows x 3 columns]

In [90]:
df_us_all_s = df_us_all_s[(df_us_all_s["cpc_n"]!="H04")&(df_us_all_s["cpc_n"]!="G06")]

In [91]:
df_us_all_s[df_us_all_s["topic"]==7].sort_values("size",ascending=False).head(10)

       topic        cpc_n  size
56370      7  H04W72/0406   177
55400      7    H04L67/12   147
56240      7     H04W4/70   144
56372      7   H04W72/042   128
55185      7   H04L5/0053   115
55166      7   H04L5/0007   114
55182      7   H04L5/0048   113
56375      7  H04W72/0446   112
52887      7    G06N20/00   102
56241      7     H04W4/80    85

In [121]:
df_us_all_s[df_us_all_s["topic"]==1].sort_values("size",ascending=False).head(10)

       topic        cpc_n  size
17023      1  H04W72/0406   618
16852      1     H04W4/70   580
15311      1   H04L5/0007   500
15333      1   H04L5/0048   495
15621      1    H04L67/12   488
17025      1   H04W72/042   449
15336      1   H04L5/0053   434
17029      1  H04W72/0446   372
17398      1    Y02D30/70   335
17116      1    H04W76/27   327

In [93]:
cpc_max = df_us_all_s.groupby(["topic"],as_index=False)["size"].agg('max')
cpc_max

    topic  size
0       0   127
1       1   618
2       2   322
3       3   160
4       4   127
5       5    95
6       6   232
7       7   177
8       8   165
9       9   243
10     10   213
11     11   129
12     12    66
13     13    87
14     14   219
15     15   144

In [94]:
df_us_all_s.merge(cpc_max,on = ["topic","size"])

    topic        cpc_n  size
0       0    G06N20/00   127
1       1  H04W72/0406   618
2       2     H04W4/70   322
3       3  H04W72/0406   160
4       4     H04W4/70   127
5       5     H04W4/70    95
6       6     H04W4/70   232
7       7  H04W72/0406   177
8       8     H04W4/70   165
9       9  H04W72/0406   243
10     10     H04W4/70   213
11     11  H04W72/0406   129
12     12  H01L2224/05    66
13     12     H04W4/70    66
14     13     H04W4/70    87
15     14   H04L5/0007   219
16     15     H04W4/70   144

In [95]:
# 轉成 Year-topic 的總數表格
table_us = df_us_all_s.pivot_table(index='topic', values='size', columns='cpc_n',aggfunc=['sum']).fillna(0).reset_index()
table_us = table_us.droplevel(level=0, axis=1)
table_us = table_us.rename(columns={'':'topic'})

In [96]:
table_us

cpc_n,topic,A01B69/001,A01B69/008,A01B76/00,A01B79/005,A01B79/02,A01C14/00,A01C21/00,A01C21/005,A01C21/007,...,Y10T428/243,Y10T428/246,Y10T428/247,Y10T428/249,Y10T428/25,Y10T428/293,Y10T428/294,Y10T428/30,Y10T428/315,Y10T428/316
0,0,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0
2,2,0.0,0.0,0.0,3.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,7,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,8,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,9,2.0,2.0,1.0,2.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
10,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
11,11,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
12,12,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,15,0.0,0.0,1.0,2.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [97]:
table_us.to_csv('lda_all_result/lda_brief_us_all_topic_cpc_t16.csv',index=0)