In [33]:
import numpy as np
import pandas as pd
import os

# from sklearn.decomposition import PCA
import matplotlib.pyplot as plt

# from scipy.special import rel_entr
# from scipy.stats import entropy
# import scipy.stats
import math
import warnings 
warnings.filterwarnings("ignore") 

from sklearn.metrics.cluster import normalized_mutual_info_score, adjusted_rand_score

In [34]:
# 使用GPU
os.environ["CUDA_VISIBLE_DEVICES"]="1"

In [35]:
! nvidia-smi

Failed to initialize NVML: Driver/library version mismatch

# MongoDB

In [36]:
from pymongo import MongoClient
import pymongo

In [37]:
mongoURI = "mongodb://%s:%s@%s/%s?authMechanism=SCRAM-SHA-1" % ("eva", "eva_30241", "140.117.69.70:30241", "eva")

try:
    conn = pymongo.MongoClient(mongoURI)
    db = conn.eva
    # db_de = db.patent_de
    # db_us = db.patent_us
    # db_cn = db.patent_cn

    db_rm_cn_2016 = db.rm_patent_cn_2016
    db_rm_us_2016 = db.rm_patent_us_2016
    db_rm_de_2016 = db.rm_patent_de_2016

    
except errors.ConnectionFailure as err:
    print(err)

# 2016

## Company數量

In [38]:
data_assignee = db_rm_de_2016.aggregate([
    {"$unwind" : "$current_assignee"},
    {"$group" : {"_id" : "$current_assignee", "count":{"$sum":1}}},
    {"$sort": {"count":-1}}
    # {"$limit":30}
])

ls_company = []
ls_count = []
for data in data_assignee:
    # print(data["_id"],data["count"])
    ls_company.append(data["_id"])
    ls_count.append(data["count"])

In [39]:
df_family_de = pd.DataFrame((zip(ls_company, ls_count)), columns = ['company', 'count'])

In [40]:
data_assignee = db_rm_cn_2016.aggregate([
    {"$unwind" : "$current_assignee"},
    {"$group" : {"_id" : "$current_assignee", "count":{"$sum":1}}},
    {"$sort": {"count":-1}}
    # {"$limit":30}
])

ls_company = []
ls_count = []
for data in data_assignee:
    # print(data["_id"],data["count"])
    ls_company.append(data["_id"])
    ls_count.append(data["count"])
    
df_family_cn = pd.DataFrame((zip(ls_company, ls_count)), columns = ['company', 'count'])

In [41]:
data_assignee = db_rm_us_2016.aggregate([
    {"$unwind" : "$current_assignee"},
    {"$group" : {"_id" : "$current_assignee", "count":{"$sum":1}}},
    {"$sort": {"count":-1}}
    # {"$limit":30}
])

ls_company = []
ls_count = []
for data in data_assignee:
    # print(data["_id"],data["count"])
    ls_company.append(data["_id"])
    ls_count.append(data["count"])
    
df_family_us = pd.DataFrame((zip(ls_company, ls_count)), columns = ['company', 'count'])

In [42]:
final_df = pd.concat([df_family_de,df_family_cn,df_family_us],axis=0)

In [43]:
# 取總數前30家公司
final_df.groupby("company").sum().reset_index().sort_values("count",ascending=False).head(30)

                                                company  count
1160                         Samsung Electronics Co Ltd    775
706                                          Intel Corp    292
1075                                       Qualcomm Inc    196
1452                 Telefonaktiebolaget LM Ericsson AB    166
632                          Huawei Technologies Co Ltd    132
1655                                           ZTE Corp    129
803                                  LG Electronics Inc     92
716                International Business Machines Corp     91
285                                Cisco Technology Inc     88
69              Anhui Sharetronic Iot Technology Co Ltd     85
1615           Xian Irain IoT Technology Service Co Ltd     84
1225    Shanghai Langbo Communication Technology Co Ltd     82
879                  Microsoft Technology Licensing LLC     58
919                Nanjing IoT Sensor Technology Co Ltd     55
1152                SUZHOU XUANHE IOT TECHNOLOGY Co Ltd     53
1349                                          Sony Corp     51
744         Jiangsu IoT Research and Development Center     48
255            China Mobile Communications Group Co Ltd     38
901                                            NEC Corp     38
340       Datang Mobile Communications Equipment Co Ltd     38
1285      Shenzhen Qianhai Livall IoT Technology Co Ltd     38
236              Chengdu Qinchuan IoT Technology Co Ltd     37
1277                 Shenzhen JBT Smart Lighting Co Ltd     37
383   Electronics and Telecommunications Research In...     36
1284       Shenzhen Mayixiongbing Iot Technology Co Ltd     36
908                                      NTT Docomo Inc     34
73                                            Apple Inc     34
1136  SHENZHEN QIANHAI LINGJU INTERNET OF THINGS SCI...     34
982                               Nokia Technologies Oy     34
1469   Tianjin Hui Zhiwulian Science And Technology Ltd     32

In [44]:
com_df = final_df.groupby("company").sum().reset_index().sort_values("count",ascending=False).head(30)
com_df.reset_index(drop=True, inplace=True)

In [45]:
com_df["count_log"] = com_df["count"].apply(lambda x: np.log(x))
com_df

                                              company  count  count_log
0                          Samsung Electronics Co Ltd    775   6.652863
1                                          Intel Corp    292   5.676754
2                                        Qualcomm Inc    196   5.278115
3                  Telefonaktiebolaget LM Ericsson AB    166   5.111988
4                          Huawei Technologies Co Ltd    132   4.882802
5                                            ZTE Corp    129   4.859812
6                                  LG Electronics Inc     92   4.521789
7                International Business Machines Corp     91   4.510860
8                                Cisco Technology Inc     88   4.477337
9             Anhui Sharetronic Iot Technology Co Ltd     85   4.442651
10           Xian Irain IoT Technology Service Co Ltd     84   4.430817
11    Shanghai Langbo Communication Technology Co Ltd     82   4.406719
12                 Microsoft Technology Licensing LLC     58   4.060443
13               Nanjing IoT Sensor Technology Co Ltd     55   4.007333
14                SUZHOU XUANHE IOT TECHNOLOGY Co Ltd     53   3.970292
15                                          Sony Corp     51   3.931826
16        Jiangsu IoT Research and Development Center     48   3.871201
17           China Mobile Communications Group Co Ltd     38   3.637586
18                                           NEC Corp     38   3.637586
19      Datang Mobile Communications Equipment Co Ltd     38   3.637586
20      Shenzhen Qianhai Livall IoT Technology Co Ltd     38   3.637586
21             Chengdu Qinchuan IoT Technology Co Ltd     37   3.610918
22                 Shenzhen JBT Smart Lighting Co Ltd     37   3.610918
23  Electronics and Telecommunications Research In...     36   3.583519
24       Shenzhen Mayixiongbing Iot Technology Co Ltd     36   3.583519
25                                     NTT Docomo Inc     34   3.526361
26                                          Apple Inc     34   3.526361
27  SHENZHEN QIANHAI LINGJU INTERNET OF THINGS SCI...     34   3.526361
28                              Nokia Technologies Oy     34   3.526361
29   Tianjin Hui Zhiwulian Science And Technology Ltd     32   3.465736

公司名稱正規化

In [46]:
com_df["company"] = com_df.company.apply(lambda x: x.replace(" Inc","")\
                                                    .replace(" Co Ltd","")\
                                                    .replace(" Ltd","")\
                                                    .replace(" Corp","")\
                                                    .replace("International Business Machines","IBM")\
                                                    .replace("Nippon Telegraph and Telephone","Nippon Telegraph & Tel")\
                                                    .replace("Alibaba Group Holding Ltd","Alibaba"))

In [47]:
com_df

                                              company  count  count_log
0                                 Samsung Electronics    775   6.652863
1                                               Intel    292   5.676754
2                                            Qualcomm    196   5.278115
3                  Telefonaktiebolaget LM Ericsson AB    166   5.111988
4                                 Huawei Technologies    132   4.882802
5                                                 ZTE    129   4.859812
6                                      LG Electronics     92   4.521789
7                                                 IBM     91   4.510860
8                                    Cisco Technology     88   4.477337
9                    Anhui Sharetronic Iot Technology     85   4.442651
10                  Xian Irain IoT Technology Service     84   4.430817
11           Shanghai Langbo Communication Technology     82   4.406719
12                 Microsoft Technology Licensing LLC     58   4.060443
13                      Nanjing IoT Sensor Technology     55   4.007333
14                       SUZHOU XUANHE IOT TECHNOLOGY     53   3.970292
15                                               Sony     51   3.931826
16        Jiangsu IoT Research and Development Center     48   3.871201
17                  China Mobile Communications Group     38   3.637586
18                                                NEC     38   3.637586
19             Datang Mobile Communications Equipment     38   3.637586
20             Shenzhen Qianhai Livall IoT Technology     38   3.637586
21                    Chengdu Qinchuan IoT Technology     37   3.610918
22                        Shenzhen JBT Smart Lighting     37   3.610918
23  Electronics and Telecommunications Research In...     36   3.583519
24              Shenzhen Mayixiongbing Iot Technology     36   3.583519
25                                         NTT Docomo     34   3.526361
26                                              Apple     34   3.526361
27  SHENZHEN QIANHAI LINGJU INTERNET OF THINGS SCI...     34   3.526361
28                              Nokia Technologies Oy     34   3.526361
29       Tianjin Hui Zhiwulian Science And Technology     32   3.465736

In [48]:
com_ls = list(com_df.company)

# Data 2016

富比士2000資料

In [49]:
f_data = pd.read_csv("./Forbes/Forbes_2016.csv")

In [50]:
f_data[f_data["Industry"]=="Semiconductors"]

,Company,Market Value,Revenue,Profits,Assets,Rank,Sector,Industry,Continent,Country,Headquarters,State,CEO,Forbes Webpage,Profits as % of Assets,Profits as % of Revenue
18,Samsung Electronics,161.550,177.286,16.5176,206.541,18,Information Technology,Semiconductors,Asia,South Korea,South Korea,NaN,Oh-Hyun Kwon,http://www.forbes.com/companies/samsung-electr...,0.079972,0.093169
59,Intel,149.259,56.276,11.4740,105.467,60,Information Technology,Semiconductors,North America,United States,NaN,NaN,Brian Krzanich,http://www.forbes.com/companies/intel/,0.108792,0.203888
136,Taiwan Semiconductor,125.605,25.661,9.0939,50.462,137,Information Technology,Semiconductors,Asia,Taiwan,Taiwan,NaN,Te Liu,http://www.forbes.com/companies/taiwan-semicon...,0.180213,0.354386
168,Qualcomm,77.324,22.614,4.9070,50.060,169,Information Technology,Semiconductors,North America,United States,California,California,Steven Mollenkopf,http://www.forbes.com/companies/qualcomm/,0.098022,0.216989
377,SK Hynix,17.513,16.609,3.8190,25.311,377,Information Technology,Semiconductors,Asia,South Korea,South Korea,NaN,Seong-Wook Park,http://www.forbes.com/companies/sk-hynix/,0.150883,0.229936
393,Texas Instruments,58.989,13.000,2.9440,16.230,394,Information Technology,Semiconductors,North America,United States,Texas,Texas,Richard Templeton,http://www.forbes.com/companies/texas-instrume...,0.181392,0.226462
559,NXP Semiconductors,29.199,6.101,1.5260,26.354,560,Information Technology,Semiconductors,Europe,Netherlands,Netherlands,NaN,Richard Clemmer,http://www.forbes.com/companies/nxp-semiconduc...,0.057904,0.250123
578,ASML Holding,41.325,6.972,1.7959,15.767,579,Information Technology,Semiconductors,Europe,Netherlands,Netherlands,NaN,Peter Wennink,http://www.forbes.com/companies/asml-holding/,0.113902,0.257587
582,Micron Technology,11.055,13.737,1.0710,24.819,583,Information Technology,Semiconductors,North America,United States,Idaho,Idaho,D Durcan,http://www.forbes.com/companies/micron-technol...,0.043152,0.077965
633,Applied Materials,23.858,9.557,1.3150,13.326,634,Information Technology,Semiconductors,North America,United States,California,California,Gary Dickerson,http://www.forbes.com/companies/applied-materi...,0.098679,0.137595
686,Broadcom,58.696,6.960,1.3900,10.777,687,Information Technology,Semiconductors,North America,United States,California,California,Hock Tan,http://www.forbes.com/companies/broadcom/,0.128978,0.199713
969,Infineon Technologies,15.799,6.901,0.7263,9.506,969,Information Technology,Semiconductors,Europe,Germany,Germany,NaN,Reinhard Ploss,http://www.forbes.com/companies/infineon-techn...,0.076404,0.105246
980,Mediatek,11.132,6.716,0.8175,10.694,981,Information Technology,Semiconductors,Asia,Taiwan,Taiwan,NaN,Ming Tsai,http://www.forbes.com/companies/mediatek/,0.076445,0.121724
1030,Lam Research,12.814,5.827,0.7864,10.024,1031,Information Technology,Semiconductors,North America,United States,California,California,Martin Anstice,http://www.forbes.com/companies/lam-research/,0.078452,0.134958
1049,Advanced Semiconductor,8.280,8.922,0.6134,11.121,1050,Information Technology,Semiconductors,Asia,Taiwan,Taiwan,NaN,Chien Chang,http://www.forbes.com/companies/advanced-semic...,0.055157,0.068751
1104,NVIDIA,19.751,5.010,0.6130,7.370,1105,Information Technology,Semiconductors,North America,United States,California,California,Jen-Hsun Huang,http://www.forbes.com/companies/nvidia/,0.083175,0.122355
1110,Tokyo Electron,11.668,5.630,0.7736,6.390,1111,Information Technology,Semiconductors,Asia,Japan,Japan,NaN,Toshiki Kawai,http://www.forbes.com/companies/tokyo-electron/,0.121064,0.137407
1190,Renesas Electronics,10.095,5.846,0.7025,7.172,1191,Information Technology,Semiconductors,Asia,Japan,Japan,NaN,Takao Endo,http://www.forbes.com/companies/renesas-electr...,0.097950,0.120168
1221,Skyworks Solutions,13.594,3.380,0.9584,3.930,1222,Information Technology,Semiconductors,North America,United States,Massachusetts,Massachusetts,Liam Griffin,http://www.forbes.com/companies/skyworks-solut...,0.243868,0.283550
1233,Analog Devices,18.130,3.433,0.6826,7.598,1234,Information Technology,Semiconductors,North America,United States,Massachusetts,Massachusetts,Vincent Roche,http://www.forbes.com/companies/analog-devices/,0.089839,0.198835
1299,ARM Holdings,18.979,1.532,0.5214,3.207,1300,Information Technology,Semiconductors,Europe,United Kingdom,United Kingdom,NaN,Simon Segars,http://www.forbes.com/companies/arm-holdings/,0.162582,0.340339
1446,Xilinx,11.722,2.210,0.5405,4.898,1447,Information Technology,Semiconductors,North America,United States,California,California,Moshe Gavrielov,http://www.forbes.com/companies/xilinx/,0.110351,0.244570
1476,KLA-Tencor,11.192,2.842,0.5308,4.573,1477,Information Technology,Semiconductors,North America,United States,California,California,Richard Wallace,http://www.forbes.com/companies/kla-tencor/,0.116073,0.186770
1516,Linear Technology,11.101,1.430,0.4947,2.005,1517,Information Technology,Semiconductors,North America,United States,California,California,Lothar Maier,http://www.forbes.com/companies/linear-technol...,0.246733,0.345944
1748,Microchip Technology,10.626,2.159,0.3562,5.447,1749,Information Technology,Semiconductors,North America,United States,Arizona,Arizona,Steve Sanghi,http://www.forbes.com/companies/microchip-tech...,0.065394,0.164984
1918,Inotera Memories,5.954,1.914,0.5693,4.807,1919,Information Technology,Semiconductors,Asia,Taiwan,Taiwan,NaN,Pei Lee,http://www.forbes.com/companies/inotera-memories/,0.118431,0.297440

In [51]:
Ind_ls = list(f_data[f_data["Industry"]=="Semiconductors"].Company)

## 使用company top 30 做join

In [52]:
forb_ls = list(np.where(com_df.company.isin(Ind_ls), 1, 0))

In [53]:
com_df[com_df.company.isin(Ind_ls)]

               company  count  count_log
0  Samsung Electronics    775   6.652863
1                Intel    292   5.676754
2             Qualcomm    196   5.278115

In [54]:
# pbc 0.09, 0.09
comp_ls = ["Qualcomm","Intel","Huawei Technologies","Telefonaktiebolaget LM Ericsson AB","ZTE"]

In [55]:
competitor_ls = list(np.where(com_df.company.isin(comp_ls), 1, 0))

In [56]:
com_df[com_df.company.isin(comp_ls)]

                              company  count  count_log
1                               Intel    292   5.676754
2                            Qualcomm    196   5.278115
3  Telefonaktiebolaget LM Ericsson AB    166   5.111988
4                 Huawei Technologies    132   4.882802
5                                 ZTE    129   4.859812

In [57]:
# (labels_true, labels_pred)
nmi = normalized_mutual_info_score(forb_ls,competitor_ls)
ari = adjusted_rand_score(forb_ls,competitor_ls)

print("nmi: ",nmi)
print("ari: ", ari)

nmi:  0.18812983439318598
ari:  0.3477508650519031

## 使用Forbes做join

In [58]:
forb_ls = list(np.where(f_data.Company.isin(Ind_ls), 1, 0))

In [59]:
# pbc 0.09, 0.09
comp_ls = ["Qualcomm","Intel","Huawei Technologies","Telefonaktiebolaget LM Ericsson AB","ZTE"]

In [60]:
competitor_ls = list(np.where(f_data.Company.isin(comp_ls), 1, 0))

In [61]:
# (labels_true, labels_pred)
nmi = normalized_mutual_info_score(forb_ls,competitor_ls)
ari = adjusted_rand_score(forb_ls,competitor_ls)

print("nmi: ",nmi)
print("ari: ", ari)

nmi:  0.08516709614785488
ari:  0.13388585214954302