In [1]:
import numpy as np
import pandas as pd
import os

# from sklearn.decomposition import PCA
import matplotlib.pyplot as plt

# from scipy.special import rel_entr
# from scipy.stats import entropy
# import scipy.stats
import math
import warnings 
warnings.filterwarnings("ignore") 

from sklearn.metrics.cluster import normalized_mutual_info_score, adjusted_rand_score

In [2]:
# 使用GPU
os.environ["CUDA_VISIBLE_DEVICES"]="1"

In [3]:
! nvidia-smi

Failed to initialize NVML: Driver/library version mismatch

# MongoDB

In [4]:
from pymongo import MongoClient
import pymongo

In [5]:
mongoURI = "mongodb://%s:%s@%s/%s?authMechanism=SCRAM-SHA-1" % ("eva", "eva_30241", "140.117.69.70:30241", "eva")

try:
    conn = pymongo.MongoClient(mongoURI)
    db = conn.eva
    # db_de = db.patent_de
    # db_us = db.patent_us
    # db_cn = db.patent_cn

    db_rm_cn_2018 = db.rm_patent_cn_2018
    db_rm_us_2018 = db.rm_patent_us_2018
    db_rm_de_2018 = db.rm_patent_de_2018

    
except errors.ConnectionFailure as err:
    print(err)

# 2018

## Company數量

In [6]:
data_assignee = db_rm_de_2018.aggregate([
    {"$unwind" : "$current_assignee"},
    {"$group" : {"_id" : "$current_assignee", "count":{"$sum":1}}},
    {"$sort": {"count":-1}}
    # {"$limit":30}
])

ls_company = []
ls_count = []
for data in data_assignee:
    # print(data["_id"],data["count"])
    ls_company.append(data["_id"])
    ls_count.append(data["count"])

In [7]:
df_family_de = pd.DataFrame((zip(ls_company, ls_count)), columns = ['company', 'count'])

In [8]:
data_assignee = db_rm_cn_2018.aggregate([
    {"$unwind" : "$current_assignee"},
    {"$group" : {"_id" : "$current_assignee", "count":{"$sum":1}}},
    {"$sort": {"count":-1}}
    # {"$limit":30}
])

ls_company = []
ls_count = []
for data in data_assignee:
    # print(data["_id"],data["count"])
    ls_company.append(data["_id"])
    ls_count.append(data["count"])
    
df_family_cn = pd.DataFrame((zip(ls_company, ls_count)), columns = ['company', 'count'])

In [9]:
data_assignee = db_rm_us_2018.aggregate([
    {"$unwind" : "$current_assignee"},
    {"$group" : {"_id" : "$current_assignee", "count":{"$sum":1}}},
    {"$sort": {"count":-1}}
    # {"$limit":30}
])

ls_company = []
ls_count = []
for data in data_assignee:
    # print(data["_id"],data["count"])
    ls_company.append(data["_id"])
    ls_count.append(data["count"])
    
df_family_us = pd.DataFrame((zip(ls_company, ls_count)), columns = ['company', 'count'])

In [10]:
final_df = pd.concat([df_family_de,df_family_cn,df_family_us],axis=0)

In [11]:
# 取總數前30家公司
final_df.groupby("company").sum().reset_index().sort_values("count",ascending=False).head(30)

                                                company  count
2586                                       Qualcomm Inc   1154
2780                         Samsung Electronics Co Ltd    856
3550                 Telefonaktiebolaget LM Ericsson AB    510
1684                                         Intel Corp    471
1699               International Business Machines Corp    350
1539                         Huawei Technologies Co Ltd    331
170                                           Apple Inc    220
700                                Cisco Technology Inc    201
2118                 Microsoft Technology Licensing LLC    183
3955           Xian Irain IoT Technology Service Co Ltd    177
2183                                     NTT Docomo Inc    162
1951                                 LG Electronics Inc    162
2362                              Nokia Technologies Oy    148
3348                                          Sony Corp    144
2948    Shanghai Langbo Communication Technology Co Ltd    123
613            China Mobile Communications Group Co Ltd    102
2168                                           NEC Corp     92
2094                                       MediaTek Inc     85
104                             Amazon Technologies Inc     82
3750                   Verizon Patent and Licensing Inc     81
35                      AT&T Intellectual Property I LP     80
1493          Hewlett Packard Enterprise Development LP     77
1076                                        Fujitsu Ltd     74
2184                                   NTT Korea Co Ltd     73
2361                    Nokia Solutions and Networks Oy     71
4081                                           ZTE Corp     71
1193  Guangdong Oppo Mobile Telecommunications Corp Ltd     64
2117                              Micron Technology Inc     60
1614                                  IDAC Holdings Inc     59
3010                                         Sharp Corp     54

In [17]:
com_df = final_df.groupby("company").sum().reset_index().sort_values("count",ascending=False).head(30)
com_df.reset_index(drop=True, inplace=True)

In [18]:
com_df["count_log"] = com_df["count"].apply(lambda x: np.log(x))
com_df

                                              company  count  count_log
0                                        Qualcomm Inc   1154   7.050989
1                          Samsung Electronics Co Ltd    856   6.752270
2                  Telefonaktiebolaget LM Ericsson AB    510   6.234411
3                                          Intel Corp    471   6.154858
4                International Business Machines Corp    350   5.857933
5                          Huawei Technologies Co Ltd    331   5.802118
6                                           Apple Inc    220   5.393628
7                                Cisco Technology Inc    201   5.303305
8                  Microsoft Technology Licensing LLC    183   5.209486
9            Xian Irain IoT Technology Service Co Ltd    177   5.176150
10                                     NTT Docomo Inc    162   5.087596
11                                 LG Electronics Inc    162   5.087596
12                              Nokia Technologies Oy    148   4.997212
13                                          Sony Corp    144   4.969813
14    Shanghai Langbo Communication Technology Co Ltd    123   4.812184
15           China Mobile Communications Group Co Ltd    102   4.624973
16                                           NEC Corp     92   4.521789
17                                       MediaTek Inc     85   4.442651
18                            Amazon Technologies Inc     82   4.406719
19                   Verizon Patent and Licensing Inc     81   4.394449
20                    AT&T Intellectual Property I LP     80   4.382027
21          Hewlett Packard Enterprise Development LP     77   4.343805
22                                        Fujitsu Ltd     74   4.304065
23                                   NTT Korea Co Ltd     73   4.290459
24                    Nokia Solutions and Networks Oy     71   4.262680
25                                           ZTE Corp     71   4.262680
26  Guangdong Oppo Mobile Telecommunications Corp Ltd     64   4.158883
27                              Micron Technology Inc     60   4.094345
28                                  IDAC Holdings Inc     59   4.077537
29                                         Sharp Corp     54   3.988984

公司名稱正規化

In [19]:
com_df["company"] = com_df.company.apply(lambda x: x.replace(" Inc","")\
                                                    .replace(" Co Ltd","")\
                                                    .replace(" Ltd","")\
                                                    .replace(" Corp","")\
                                                    .replace("International Business Machines","IBM")\
                                                    .replace("Nippon Telegraph and Telephone","Nippon Telegraph & Tel")\
                                                    .replace("Alibaba Group Holding Ltd","Alibaba"))

In [20]:
com_df

                                      company  count  count_log
0                                    Qualcomm   1154   7.050989
1                         Samsung Electronics    856   6.752270
2          Telefonaktiebolaget LM Ericsson AB    510   6.234411
3                                       Intel    471   6.154858
4                                         IBM    350   5.857933
5                         Huawei Technologies    331   5.802118
6                                       Apple    220   5.393628
7                            Cisco Technology    201   5.303305
8          Microsoft Technology Licensing LLC    183   5.209486
9           Xian Irain IoT Technology Service    177   5.176150
10                                 NTT Docomo    162   5.087596
11                             LG Electronics    162   5.087596
12                      Nokia Technologies Oy    148   4.997212
13                                       Sony    144   4.969813
14   Shanghai Langbo Communication Technology    123   4.812184
15          China Mobile Communications Group    102   4.624973
16                                        NEC     92   4.521789
17                                   MediaTek     85   4.442651
18                        Amazon Technologies     82   4.406719
19               Verizon Patent and Licensing     81   4.394449
20            AT&T Intellectual Property I LP     80   4.382027
21  Hewlett Packard Enterprise Development LP     77   4.343805
22                                    Fujitsu     74   4.304065
23                                  NTT Korea     73   4.290459
24            Nokia Solutions and Networks Oy     71   4.262680
25                                        ZTE     71   4.262680
26   Guangdong Oppo Mobile Telecommunications     64   4.158883
27                          Micron Technology     60   4.094345
28                              IDAC Holdings     59   4.077537
29                                      Sharp     54   3.988984

In [21]:
com_ls = list(com_df.company)

# Data 2018

富比士2000資料

In [22]:
f_data = pd.read_csv("./Forbes/Forbes_2018.csv")

In [23]:
f_data[f_data["Industry"]=="Semiconductors"]

,Company,Market Value,Revenue,Profits,Assets,Rank,Sector,Industry,Continent,Country,Headquarters,State,CEO,Forbes Webpage,Profits as % of Assets,Profits as % of Revenue,Unnamed: 16
13,Samsung Electronics,325.865,224.644,40.9941,293.154,14.0,Information Technology,Semiconductors,Asia,South Korea,South Korea,NaN,Hyun-Suk Kim,http://www.forbes.com/companies/samsung-electr...,0.139838106,0.182485,NaN
48,Intel,254.762,64.031,11.0910,128.596,49.0,Information Technology,Semiconductors,North America,United States,California,California,Brian Krzanich,http://www.forbes.com/companies/intel/,0.086246851,0.173213,NaN
117,Taiwan Semiconductor,203.024,33.064,11.5138,70.280,118.0,Information Technology,Semiconductors,Asia,Taiwan,Taiwan,NaN,Te Liu,http://www.forbes.com/companies/taiwan-semicon...,0.163827547,0.348228,NaN
199,Broadcom,99.969,18.824,7.7870,54.544,200.0,Information Technology,Semiconductors,North America,United States,California,California,Hock Tan,http://www.forbes.com/companies/broadcom/,0.142765474,0.413674,NaN
200,SK Hynix,56.845,29.288,10.6788,46.088,200.0,Information Technology,Semiconductors,Asia,South Korea,South Korea,NaN,Sung-Wook Park,http://www.forbes.com/companies/sk-hynix/,0.231704565,0.364613,NaN
220,Micron Technology,60.099,25.858,10.0020,41.263,221.0,Information Technology,Semiconductors,North America,United States,Idaho,Idaho,Sanjay Mehrotra,http://www.forbes.com/companies/micron-technol...,0.242396336,0.386805,NaN
411,Texas Instruments,106.947,15.348,4.0170,17.507,412.0,Information Technology,Semiconductors,North America,United States,Texas,Texas,Richard Templeton,http://www.forbes.com/companies/texas-instrume...,0.229451077,0.261728,NaN
438,Applied Materials,57.620,15.463,2.8660,19.663,439.0,Information Technology,Semiconductors,North America,United States,California,California,Gary Dickerson,http://www.forbes.com/companies/applied-materi...,0.145755988,0.185346,NaN
450,ASML Holding,85.378,10.978,2.6925,22.930,451.0,Information Technology,Semiconductors,Europe,Netherlands,Netherlands,NaN,Peter Wennink,http://www.forbes.com/companies/asml-holding/,0.11742259,0.245263,NaN
559,Qualcomm,81.885,22.605,-4.5560,64.126,560.0,Information Technology,Semiconductors,North America,United States,California,California,Steven Mollenkopf,http://www.forbes.com/companies/qualcomm/,-0.071047625,-0.201548,NaN
571,NVIDIA,154.509,10.984,3.7830,11.460,572.0,Information Technology,Semiconductors,North America,United States,California,California,Jen-Hsun Huang,http://www.forbes.com/companies/nvidia/,0.330104712,0.344410,NaN
648,NXP Semiconductors,34.024,9.314,0.9680,24.127,649.0,Information Technology,Semiconductors,Europe,Netherlands,Netherlands,NaN,Richard Clemmer,http://www.forbes.com/companies/nxp-semiconduc...,0.040121026,0.103930,NaN
686,Lam Research,33.063,10.300,1.8860,13.663,687.0,Information Technology,Semiconductors,North America,United States,California,California,Martin Anstice,http://www.forbes.com/companies/lam-research/,0.138037034,0.183107,NaN
745,Tokyo Electron,32.884,10.202,1.8440,11.365,746.0,Information Technology,Semiconductors,Asia,Japan,Japan,NaN,Toshiki Kawai,http://www.forbes.com/companies/tokyo-electron/,0.16225253,0.180749,NaN
841,Infineon Technologies,32.351,8.486,1.2750,NaN,842.0,Information Technology,Semiconductors,Europe,Germany,Germany,NaN,Reinhard Ploss,http://www.forbes.com/companies/infineon-techn...,NaN,0.150247,NaN
850,Analog Devices,34.244,5.642,0.7748,20.853,851.0,Information Technology,Semiconductors,North America,United States,Massachusetts,Massachusetts,Vincent Roche,http://www.forbes.com/companies/analog-devices/,0.037155325,0.137327,NaN
953,STMicroelectronics,21.185,8.730,0.9280,10.068,954.0,Information Technology,Semiconductors,Europe,Switzerland,Switzerland,NaN,Carlo Bozotti,http://www.forbes.com/companies/stmicroelectro...,0.092173222,0.106300,NaN
1000,MediaTek,16.895,7.730,0.6766,14.177,1001.0,Information Technology,Semiconductors,Asia,Taiwan,Taiwan,NaN,Ching Hsieh,http://www.forbes.com/companies/mediatek/,0.047725189,0.087529,NaN
1078,Renesas Electronics,16.737,7.126,0.8271,9.555,1079.0,Information Technology,Semiconductors,Asia,Japan,Japan,NaN,Bunsei Kure,http://www.forbes.com/companies/renesas-electr...,0.086562009,0.116068,NaN
1082,Advanced Semiconductor,11.223,9.633,0.7512,12.240,1083.0,Information Technology,Semiconductors,Asia,Taiwan,Taiwan,NaN,Hung Pen Chang,http://www.forbes.com/companies/advanced-semic...,0.061372549,0.077982,NaN
1290,Skyworks Solutions,17.663,3.851,0.8739,4.745,1290.0,Information Technology,Semiconductors,North America,United States,Massachusetts,Massachusetts,Liam Griffin,http://www.forbes.com/companies/skyworks-solut...,0.184172813,0.226928,NaN
1374,KLA-Tencor,17.313,3.901,0.7097,5.598,1375.0,Information Technology,Semiconductors,North America,United States,California,California,Rick Wallace,http://www.forbes.com/companies/kla-tencor/,0.126777421,0.181928,NaN
1406,ON Semiconductor Corp.,10.001,5.484,0.8721,7.263,1406.0,Information Technology,Semiconductors,North America,United States,Arizona,Arizona,Keith Jackson,http://www.forbes.com/companies/on-semiconductor/,0.120074349,0.159026,NaN
1411,Nanya Technology,9.647,2.050,1.4751,5.438,1412.0,Information Technology,Semiconductors,Asia,Taiwan,Taiwan,NaN,Pei Lee,http://www.forbes.com/companies/nanya-technology/,0.271257815,0.719561,NaN
1514,Xilinx,17.633,2.539,0.5124,5.056,1514.0,Information Technology,Semiconductors,North America,United States,California,California,Victor Peng,http://www.forbes.com/companies/xilinx/,0.101344937,0.201812,NaN
1627,Sanan Optoelectronics,13.321,1.243,0.5193,4.263,1628.0,Information Technology,Semiconductors,Asia,China,China,NaN,Xiucheng Lin,http://www.forbes.com/companies/sanan-optoelec...,0.121815623,0.417780,NaN
1658,Longi Green Energy Technology,11.943,2.564,0.5535,5.532,1659.0,Information Technology,Semiconductors,Asia,China,China,NaN,Zhen Li,http://www.forbes.com/companies/longi-green-en...,0.10005423,0.215874,NaN
1661,Maxim Integrated Products,16.109,2.449,0.4365,4.623,1662.0,Information Technology,Semiconductors,North America,United States,California,California,Tunç Doluca,http://www.forbes.com/companies/maxim-integrat...,0.094419208,0.178236,NaN
1787,Microchip Technology,21.782,3.981,0.2554,8.257,1788.0,Information Technology,Semiconductors,North America,United States,Arizona,Arizona,Steve Sanghi,http://www.forbes.com/companies/microchip-tech...,0.030931331,0.064155,NaN
1866,Advanced Micro Devices,11.584,5.992,0.1970,3.763,1867.0,Information Technology,Semiconductors,North America,United States,California,California,Lisa Su,http://www.forbes.com/companies/advanced-micro...,0.052351847,0.032877,NaN
1925,IPG Photonics,13.502,1.483,0.3790,2.498,1926.0,Information Technology,Semiconductors,North America,United States,Massachusetts,Massachusetts,Valentin Gapontsev,http://www.forbes.com/companies/ipg-photonics/,0.151721377,0.255563,NaN

In [24]:
Ind_ls = list(f_data[f_data["Industry"]=="Semiconductors"].Company)

## 使用company top 30 做join

In [29]:
forb_ls = list(np.where(com_df.company.isin(Ind_ls), 1, 0))

In [37]:
com_df[com_df.company.isin(Ind_ls)]

                company  count  count_log
0              Qualcomm   1154   7.050989
1   Samsung Electronics    856   6.752270
3                 Intel    471   6.154858
17             MediaTek     85   4.442651
27    Micron Technology     60   4.094345

In [30]:
# pbc 0.1,0.2
comp_ls = ["Qualcomm","IBM","Intel","Huawei Technologies","Telefonaktiebolaget LM Ericsson AB"]

In [31]:
competitor_ls = list(np.where(com_df.company.isin(comp_ls), 1, 0))

In [38]:
com_df[com_df.company.isin(comp_ls)]

                              company  count  count_log
0                            Qualcomm   1154   7.050989
2  Telefonaktiebolaget LM Ericsson AB    510   6.234411
3                               Intel    471   6.154858
4                                 IBM    350   5.857933
5                 Huawei Technologies    331   5.802118

In [32]:
# (labels_true, labels_pred)
nmi = normalized_mutual_info_score(forb_ls,competitor_ls)
ari = adjusted_rand_score(forb_ls,competitor_ls)

print("nmi: ",nmi)
print("ari: ", ari)

nmi:  0.07240253043440366
ari:  0.19174193548387097

## 使用Forbes做join

In [33]:
forb_ls = list(np.where(f_data.Company.isin(Ind_ls), 1, 0))

In [34]:
# pbc 0.1,0.2
comp_ls = ["Qualcomm","IBM","Intel","Huawei Technologies","Telefonaktiebolaget LM Ericsson AB"]

In [35]:
competitor_ls = list(np.where(f_data.Company.isin(comp_ls), 1, 0))

In [36]:
# (labels_true, labels_pred)
nmi = normalized_mutual_info_score(forb_ls,competitor_ls)
ari = adjusted_rand_score(forb_ls,competitor_ls)

print("nmi: ",nmi)
print("ari: ", ari)

nmi:  0.07129962523377328
ari:  0.1134662995367507