In [1]:
import numpy as np
import pandas as pd
import os

# from sklearn.decomposition import PCA
import matplotlib.pyplot as plt

# from scipy.special import rel_entr
# from scipy.stats import entropy
# import scipy.stats
import math
import warnings 
warnings.filterwarnings("ignore") 

from sklearn.metrics.cluster import normalized_mutual_info_score, adjusted_rand_score

In [2]:
# 使用GPU
os.environ["CUDA_VISIBLE_DEVICES"]="1"

In [3]:
! nvidia-smi

Failed to initialize NVML: Driver/library version mismatch

# MongoDB

In [4]:
from pymongo import MongoClient
import pymongo

In [5]:
mongoURI = "mongodb://%s:%s@%s/%s?authMechanism=SCRAM-SHA-1" % ("eva", "eva_30241", "140.117.69.70:30241", "eva")

try:
    conn = pymongo.MongoClient(mongoURI)
    db = conn.eva
    # db_de = db.patent_de
    # db_us = db.patent_us
    # db_cn = db.patent_cn

    db_rm_cn_2017 = db.rm_patent_cn_2017
    db_rm_us_2017 = db.rm_patent_us_2017
    db_rm_de_2017 = db.rm_patent_de_2017

    
except errors.ConnectionFailure as err:
    print(err)

# 2017

## Company數量

In [6]:
data_assignee = db_rm_de_2017.aggregate([
    {"$unwind" : "$current_assignee"},
    {"$group" : {"_id" : "$current_assignee", "count":{"$sum":1}}},
    {"$sort": {"count":-1}}
    # {"$limit":30}
])

ls_company = []
ls_count = []
for data in data_assignee:
    # print(data["_id"],data["count"])
    ls_company.append(data["_id"])
    ls_count.append(data["count"])

In [7]:
df_family_de = pd.DataFrame((zip(ls_company, ls_count)), columns = ['company', 'count'])

In [8]:
data_assignee = db_rm_cn_2017.aggregate([
    {"$unwind" : "$current_assignee"},
    {"$group" : {"_id" : "$current_assignee", "count":{"$sum":1}}},
    {"$sort": {"count":-1}}
    # {"$limit":30}
])

ls_company = []
ls_count = []
for data in data_assignee:
    # print(data["_id"],data["count"])
    ls_company.append(data["_id"])
    ls_count.append(data["count"])
    
df_family_cn = pd.DataFrame((zip(ls_company, ls_count)), columns = ['company', 'count'])

In [9]:
data_assignee = db_rm_us_2017.aggregate([
    {"$unwind" : "$current_assignee"},
    {"$group" : {"_id" : "$current_assignee", "count":{"$sum":1}}},
    {"$sort": {"count":-1}}
    # {"$limit":30}
])

ls_company = []
ls_count = []
for data in data_assignee:
    # print(data["_id"],data["count"])
    ls_company.append(data["_id"])
    ls_count.append(data["count"])
    
df_family_us = pd.DataFrame((zip(ls_company, ls_count)), columns = ['company', 'count'])

In [10]:
final_df = pd.concat([df_family_de,df_family_cn,df_family_us],axis=0)

In [11]:
# 取總數前30家公司
final_df.groupby("company").sum().reset_index().sort_values("count",ascending=False).head(30)

                                                company  count
2019                         Samsung Electronics Co Ltd    678
1876                                       Qualcomm Inc    655
2272  Shenzhen Shenglu IoT Communication Technology ...    622
1250                                         Intel Corp    403
2546                 Telefonaktiebolaget LM Ericsson AB    395
1155                         Huawei Technologies Co Ltd    291
1262               International Business Machines Corp    249
2865           Xian Irain IoT Technology Service Co Ltd    139
1562                 Microsoft Technology Licensing LLC    132
518                                Cisco Technology Inc    131
1604                                     NTT Docomo Inc    125
1443                                 LG Electronics Inc    124
419              Chengdu Qinchuan IoT Technology Co Ltd    117
1049                Hangzhou Wopu IoT Technology Co Ltd    110
2945                                           ZTE Corp    100
106                                           Apple Inc     98
454            China Mobile Communications Group Co Ltd     92
2405                                          Sony Corp     90
2188                                         Sharp Corp     85
1721                              Nokia Technologies Oy     79
2125    Shanghai Langbo Communication Technology Co Ltd     76
1598                                           NEC Corp     73
72                              Amazon Technologies Inc     66
1720                    Nokia Solutions and Networks Oy     64
1577                              Motorola Mobility LLC     62
811                  Fujian Strong Min Mdt Infotech Ltd     62
721                                FG Innovation Co Ltd     55
21                      AT&T Intellectual Property I LP     54
822                                         Fujitsu Ltd     54
1151                       Huaway IoT Technology Co Ltd     49

In [43]:
com_df = final_df.groupby("company").sum().reset_index().sort_values("count",ascending=False).head(30)
com_df.reset_index(drop=True, inplace=True)

In [44]:
com_df["count_log"] = com_df["count"].apply(lambda x: np.log(x))
com_df

                                              company  count  count_log
0                          Samsung Electronics Co Ltd    678   6.519147
1                                        Qualcomm Inc    655   6.484635
2   Shenzhen Shenglu IoT Communication Technology ...    622   6.432940
3                                          Intel Corp    403   5.998937
4                  Telefonaktiebolaget LM Ericsson AB    395   5.978886
5                          Huawei Technologies Co Ltd    291   5.673323
6                International Business Machines Corp    249   5.517453
7            Xian Irain IoT Technology Service Co Ltd    139   4.934474
8                  Microsoft Technology Licensing LLC    132   4.882802
9                                Cisco Technology Inc    131   4.875197
10                                     NTT Docomo Inc    125   4.828314
11                                 LG Electronics Inc    124   4.820282
12             Chengdu Qinchuan IoT Technology Co Ltd    117   4.762174
13                Hangzhou Wopu IoT Technology Co Ltd    110   4.700480
14                                           ZTE Corp    100   4.605170
15                                          Apple Inc     98   4.584967
16           China Mobile Communications Group Co Ltd     92   4.521789
17                                          Sony Corp     90   4.499810
18                                         Sharp Corp     85   4.442651
19                              Nokia Technologies Oy     79   4.369448
20    Shanghai Langbo Communication Technology Co Ltd     76   4.330733
21                                           NEC Corp     73   4.290459
22                            Amazon Technologies Inc     66   4.189655
23                    Nokia Solutions and Networks Oy     64   4.158883
24                              Motorola Mobility LLC     62   4.127134
25                 Fujian Strong Min Mdt Infotech Ltd     62   4.127134
26                               FG Innovation Co Ltd     55   4.007333
27                    AT&T Intellectual Property I LP     54   3.988984
28                                        Fujitsu Ltd     54   3.988984
29                       Huaway IoT Technology Co Ltd     49   3.891820

公司名稱正規化

In [45]:
com_df["company"] = com_df.company.apply(lambda x: x.replace(" Inc","")\
                                                    .replace(" Co Ltd","")\
                                                    .replace(" Ltd","")\
                                                    .replace(" Corp","")\
                                                    .replace("International Business Machines","IBM")\
                                                    .replace("Nippon Telegraph and Telephone","Nippon Telegraph & Tel")\
                                                    .replace("Alibaba Group Holding Ltd","Alibaba"))

In [46]:
com_df

                                          company  count  count_log
0                             Samsung Electronics    678   6.519147
1                                        Qualcomm    655   6.484635
2   Shenzhen Shenglu IoT Communication Technology    622   6.432940
3                                           Intel    403   5.998937
4              Telefonaktiebolaget LM Ericsson AB    395   5.978886
5                             Huawei Technologies    291   5.673323
6                                             IBM    249   5.517453
7               Xian Irain IoT Technology Service    139   4.934474
8              Microsoft Technology Licensing LLC    132   4.882802
9                                Cisco Technology    131   4.875197
10                                     NTT Docomo    125   4.828314
11                                 LG Electronics    124   4.820282
12                Chengdu Qinchuan IoT Technology    117   4.762174
13                   Hangzhou Wopu IoT Technology    110   4.700480
14                                            ZTE    100   4.605170
15                                          Apple     98   4.584967
16              China Mobile Communications Group     92   4.521789
17                                           Sony     90   4.499810
18                                          Sharp     85   4.442651
19                          Nokia Technologies Oy     79   4.369448
20       Shanghai Langbo Communication Technology     76   4.330733
21                                            NEC     73   4.290459
22                            Amazon Technologies     66   4.189655
23                Nokia Solutions and Networks Oy     64   4.158883
24                          Motorola Mobility LLC     62   4.127134
25                 Fujian Strong Min Mdt Infotech     62   4.127134
26                                  FG Innovation     55   4.007333
27                AT&T Intellectual Property I LP     54   3.988984
28                                        Fujitsu     54   3.988984
29                          Huaway IoT Technology     49   3.891820

In [47]:
com_ls = list(com_df.company)

# Data 2017

富比士2000資料

In [48]:
f_data = pd.read_csv("./Forbes/Forbes_2017.csv")

In [49]:
f_data[f_data["Industry"]=="Semiconductors"]

,Company,Market Value,Revenue,Profits,Assets,Rank,Sector,Industry,Continent,Country,Headquarters,State,CEO,Forbes Webpage,Profits as % of Assets,Profits as % of Revenue
14,Samsung Electronics,254.303,173.995,19.3207,217.068,15,Information Technology,Semiconductors,Asia,South Korea,South Korea,NaN,Oh-Hyun Kwon,http://www.forbes.com/companies/samsung-electr...,0.089008,0.111042
53,Intel,170.350,59.387,10.3160,113.327,54,Information Technology,Semiconductors,North America,United States,California,California,Brian M. Krzanich,http://www.forbes.com/companies/intel/,0.091029,0.173708
126,Taiwan Semiconductor,161.734,29.392,10.3640,58.533,127,Information Technology,Semiconductors,Asia,Taiwan,Taiwan,NaN,Te Yin Liu,http://www.forbes.com/companies/taiwan-semicon...,0.177063,0.352613
169,Qualcomm,83.187,23.778,4.8890,52.366,170,Information Technology,Semiconductors,North America,United States,California,California,Steven M. Mollenkopf,http://www.forbes.com/companies/qualcomm/,0.093362,0.205610
348,SK Hynix,31.958,14.823,2.5459,26.673,349,Information Technology,Semiconductors,Asia,South Korea,South Korea,NaN,Sung-Wook Park,http://www.forbes.com/companies/sk-hynix/,0.095449,0.171753
386,Texas Instruments,80.501,13.370,3.4170,16.431,387,Information Technology,Semiconductors,North America,United States,Texas,Texas,Richard K. Templeton,http://www.forbes.com/companies/texas-instrume...,0.207961,0.255572
481,Micron Technology,31.552,14.733,0.6890,32.355,482,Information Technology,Semiconductors,North America,United States,Idaho,Idaho,Sanjay Mehrotra,http://www.forbes.com/companies/micron-technol...,0.021295,0.046766
498,Applied Materials,42.038,11.846,2.1380,15.244,499,Information Technology,Semiconductors,North America,United States,California,California,Gary E. Dickerson,http://www.forbes.com/companies/applied-materi...,0.140252,0.180483
530,ASML Holding,56.800,7.516,1.7223,19.742,531,Information Technology,Semiconductors,Europe,Netherlands,Netherlands,NaN,Peter T. F. M. Wennink,http://www.forbes.com/companies/asml-holding/,0.087240,0.229151
591,Broadcom,87.597,15.608,-1.8770,49.617,592,Information Technology,Semiconductors,Asia,Singapore,Singapore,NaN,Hock E. Tan,http://www.forbes.com/companies/broadcom/,-0.037830,-0.120259
725,NVIDIA,59.094,6.910,1.6460,9.841,726,Information Technology,Semiconductors,North America,United States,California,California,Jen-Hsun Huang,http://www.forbes.com/companies/nvidia/,0.167259,0.238205
843,NXP Semiconductors,36.175,9.498,0.2000,24.898,844,Information Technology,Semiconductors,Europe,Netherlands,Netherlands,NaN,Richard Lynn Clemmer,http://www.forbes.com/companies/nxp-semiconduc...,0.008033,0.021057
870,Lam Research,21.056,6.384,0.9990,11.521,871,Information Technology,Semiconductors,North America,United States,California,California,Martin Brian Anstice,http://www.forbes.com/companies/lam-research/,0.086711,0.156485
905,Infineon Technologies,22.545,7.260,0.8319,10.109,906,Information Technology,Semiconductors,Europe,Germany,Germany,NaN,Reinhard Ploss,http://www.forbes.com/companies/infineon-techn...,0.082293,0.114587
990,Mediatek,11.130,8.543,0.7349,11.502,991,Information Technology,Semiconductors,Asia,Taiwan,Taiwan,NaN,Ching Chiang Hsieh,http://www.forbes.com/companies/mediatek/,0.063893,0.086024
1016,Tokyo Electron,18.053,6.473,0.7968,7.595,1017,Information Technology,Semiconductors,Asia,Japan,Japan,NaN,Toshiki Kawai,http://www.forbes.com/companies/tokyo-electron/,0.104911,0.123096
1048,Advanced Semiconductor,10.048,8.523,0.6919,11.106,1049,Information Technology,Semiconductors,Asia,Taiwan,Taiwan,NaN,Hung Pen Chang,http://www.forbes.com/companies/advanced-semic...,0.062300,0.081180
1066,Analog Devices,29.211,3.636,0.9143,10.203,1067,Information Technology,Semiconductors,North America,United States,Massachusetts,Massachusetts,Vincent T. Roche,http://www.forbes.com/companies/analog-devices/,0.089611,0.251458
1149,Renesas Electronics,16.440,5.780,0.5688,7.057,1150,Information Technology,Semiconductors,Asia,Japan,Japan,NaN,Bunsei Kure,http://www.forbes.com/companies/renesas-electr...,0.080601,0.098408
1170,Skyworks Solutions,18.785,3.276,0.8977,4.066,1171,Information Technology,Semiconductors,North America,United States,Massachusetts,Massachusetts,Liam K. Griffin,http://www.forbes.com/companies/skyworks-solut...,0.220782,0.274023
1246,KLA-Tencor,15.131,3.263,0.8637,5.094,1246,Information Technology,Semiconductors,North America,United States,California,California,Richard P. Wallace,http://www.forbes.com/companies/kla-tencor/,0.169552,0.264695
1370,Xilinx,14.060,2.311,0.6141,4.836,1371,Information Technology,Semiconductors,North America,United States,California,California,Moshe N. Gavrielov,http://www.forbes.com/companies/xilinx/,0.126985,0.265729
1498,STMicroelectronics,13.681,6.976,0.1667,8.008,1499,Information Technology,Semiconductors,Europe,Switzerland,Switzerland,NaN,Carlo Bozotti,http://www.forbes.com/companies/stmicroelectro...,0.020817,0.023896
1503,Maxim Integrated Products,12.727,2.234,0.5002,3.948,1504,Information Technology,Semiconductors,North America,United States,California,California,Tunç Doluca,http://www.forbes.com/companies/maxim-integrat...,0.126697,0.223903
1903,Microchip Technology,16.029,3.063,0.0944,7.145,1904,Information Technology,Semiconductors,North America,United States,Arizona,Arizona,Steve Sanghi,http://www.forbes.com/companies/microchip-tech...,0.013212,0.030819
1954,Advanced Micro Devices,12.728,4.272,-0.4970,3.321,1955,Information Technology,Semiconductors,North America,United States,California,California,Lisa T. Su,http://www.forbes.com/companies/advanced-micro...,-0.149654,-0.116339
1973,Nanya Technology,4.307,1.291,0.7355,4.250,1973,Information Technology,Semiconductors,Asia,Taiwan,Taiwan,NaN,Charles Kau,http://www.forbes.com/companies/nanya-technology/,0.173059,0.569713

In [50]:
Ind_ls = list(f_data[f_data["Industry"]=="Semiconductors"].Company)

## 使用company top 30 做join

In [51]:
forb_ls = list(np.where(com_df.company.isin(Ind_ls), 1, 0))

In [58]:
com_df[com_df.company.isin(Ind_ls)]

               company  count  count_log
0  Samsung Electronics    678   6.519147
1             Qualcomm    655   6.484635
3                Intel    403   5.998937

In [52]:
# pbc 0.1,0.2
comp_ls = ["Qualcomm","IBM","Intel","Huawei Technologies","Telefonaktiebolaget LM Ericsson AB","Shenzhen Shenglu IoT Communication Technology"]

In [53]:
competitor_ls = list(np.where(com_df.company.isin(comp_ls), 1, 0))

In [59]:
com_df[com_df.company.isin(comp_ls)]

                                         company  count  count_log
1                                       Qualcomm    655   6.484635
2  Shenzhen Shenglu IoT Communication Technology    622   6.432940
3                                          Intel    403   5.998937
4             Telefonaktiebolaget LM Ericsson AB    395   5.978886
5                            Huawei Technologies    291   5.673323
6                                            IBM    249   5.517453

In [54]:
# (labels_true, labels_pred)
nmi = normalized_mutual_info_score(forb_ls,competitor_ls)
ari = adjusted_rand_score(forb_ls,competitor_ls)

print("nmi: ",nmi)
print("ari: ", ari)

nmi:  0.14346946548878017
ari:  0.2705943901163025

## 使用Forbes做join

In [24]:
forb_ls = list(np.where(f_data.Company.isin(Ind_ls), 1, 0))

In [25]:
# pbc 0.1,0.2
comp_ls = ["Qualcomm","IBM","Intel","Huawei Technologies","Telefonaktiebolaget LM Ericsson AB","Shenzhen Shenglu IoT Communication Technology"]

In [26]:
competitor_ls = list(np.where(f_data.Company.isin(comp_ls), 1, 0))

In [27]:
# (labels_true, labels_pred)
nmi = normalized_mutual_info_score(forb_ls,competitor_ls)
ari = adjusted_rand_score(forb_ls,competitor_ls)

print("nmi: ",nmi)
print("ari: ", ari)

nmi:  0.08200321388291647
ari:  0.1292559483889141