In [2]:
import numpy as np
import pandas as pd
import os

# from sklearn.decomposition import PCA
import matplotlib.pyplot as plt

# from scipy.special import rel_entr
# from scipy.stats import entropy
# import scipy.stats
import math
import warnings 
warnings.filterwarnings("ignore") 

from sklearn.metrics.cluster import normalized_mutual_info_score, adjusted_rand_score

In [3]:
# 使用GPU
os.environ["CUDA_VISIBLE_DEVICES"]="1"

In [4]:
! nvidia-smi

Sun Jun 12 15:11:54 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 470.129.06   Driver Version: 470.129.06   CUDA Version: 11.4     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  NVIDIA GeForce ...  Off  | 00000000:01:00.0 Off |                  N/A |
| 30%   38C    P8    21W / 260W |     22MiB / 11019MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+
|   1  NVIDIA GeForce ...  Off  | 00000000:02:00.0 Off |                  N/A |
| 28%   36C    P8    25W / 260W |      8MiB / 11019MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|    0   N/A  N/A      6976      G   /usr/lib/xorg/Xorg                  9MiB |
|    0   N/A  N/A      7277      G   /usr/bin/gnome-shell                7MiB |
|    1   N/A  N/A      6976      G   /usr/lib/xorg/Xorg                  4MiB |
+-----------------------------------------------------------------------------+

# MongoDB

In [5]:
from pymongo import MongoClient
import pymongo

In [6]:
mongoURI = "mongodb://%s:%s@%s/%s?authMechanism=SCRAM-SHA-1" % ("eva", "eva_30241", "140.117.69.70:30241", "eva")

try:
    conn = pymongo.MongoClient(mongoURI)
    db = conn.eva
    # db_de = db.patent_de
    # db_us = db.patent_us
    # db_cn = db.patent_cn

    db_rm_cn_2011 = db.rm_patent_cn_2011
    db_rm_us_2011 = db.rm_patent_us_2011
    db_rm_de_2011 = db.rm_patent_de_2011

    
except errors.ConnectionFailure as err:
    print(err)

# 2011

## Company數量

In [7]:
data_assignee = db_rm_de_2011.aggregate([
    {"$unwind" : "$current_assignee"},
    {"$group" : {"_id" : "$current_assignee", "count":{"$sum":1}}},
    {"$sort": {"count":-1}}
    # {"$limit":30}
])

ls_company = []
ls_count = []
for data in data_assignee:
    # print(data["_id"],data["count"])
    ls_company.append(data["_id"])
    ls_count.append(data["count"])

In [8]:
df_family_de = pd.DataFrame((zip(ls_company, ls_count)), columns = ['company', 'count'])

In [9]:
data_assignee = db_rm_cn_2011.aggregate([
    {"$unwind" : "$current_assignee"},
    {"$group" : {"_id" : "$current_assignee", "count":{"$sum":1}}},
    {"$sort": {"count":-1}}
    # {"$limit":30}
])

ls_company = []
ls_count = []
for data in data_assignee:
    # print(data["_id"],data["count"])
    ls_company.append(data["_id"])
    ls_count.append(data["count"])
    
df_family_cn = pd.DataFrame((zip(ls_company, ls_count)), columns = ['company', 'count'])

In [10]:
data_assignee = db_rm_us_2011.aggregate([
    {"$unwind" : "$current_assignee"},
    {"$group" : {"_id" : "$current_assignee", "count":{"$sum":1}}},
    {"$sort": {"count":-1}}
    # {"$limit":30}
])

ls_company = []
ls_count = []
for data in data_assignee:
    # print(data["_id"],data["count"])
    ls_company.append(data["_id"])
    ls_count.append(data["count"])
    
df_family_us = pd.DataFrame((zip(ls_company, ls_count)), columns = ['company', 'count'])

In [11]:
final_df = pd.concat([df_family_de,df_family_cn,df_family_us],axis=0)

In [12]:
# 取總數前30家公司
final_df.groupby("company").sum().reset_index().sort_values("count",ascending=False).head(30)

                                               company  count
182             Jinhu Zhongbo IOT Technology Co., Ltd.     30
173        Jiangsu IoT Research and Development Center     17
266                                       Qualcomm Inc     16
402                                         Xerox Corp     13
201                                 LG Electronics Inc     12
419                                           ZTE Corp      9
120               Gaoxing Zhilian Technology Co., Ltd.      9
299                         Samsung Electronics Co Ltd      8
75   China core Microelectronics Technology Chengdu...      7
361                 Telefonaktiebolaget LM Ericsson AB      7
92       Datang Mobile Communications Equipment Co Ltd      6
53                                           Canon Inc      6
158                                   IoT Holdings Inc      6
114                  Fujifilm Business Innovation Corp      6
363             The reservoir Hengke IOT System Co Ltd      5
199  LANZHOU WEITE WELDING MATERIAL TECHNOLOGY CO.,...      5
409       YANGZHOU SU'AN IOT SENSING TECHNOLOGY Co Ltd      5
321  Shanghai state core Internet of things Technol...      5
226               Nanjing IoT Sensor Technology Co Ltd      5
174                 Jiangsu Kairun Technology Co.,Ltd.      5
59              Chengdu Qinchuan IoT Technology Co Ltd      5
139                    Huaiyin Institute of Technology      5
80                                Cisco Technology Inc      4
166  JIANGSU HENGHUA IOT TECHNOLOGY DEVELOPMENT Co Ltd      4
69              China Petroleum and Natural Gas Co Ltd      4
231           New best technology (Shanghai) Co., Ltd.      4
404                 Xiamen Xindeco IOT Technology Ltd.      4
421              ZTE Intelligent Iot Technology Co Ltd      4
260                                  Petrochina Co Ltd      3
273     SHANDONG GOLD MINING CO Ltd XINCHENG GOLD MINE      3

In [13]:
com_df = final_df.groupby("company").sum().reset_index().sort_values("count",ascending=False).head(30)
com_df.reset_index(drop=True, inplace=True)

In [14]:
com_df["count_log"] = com_df["count"].apply(lambda x: np.log(x))
com_df

                                              company  count  count_log
0              Jinhu Zhongbo IOT Technology Co., Ltd.     30   3.401197
1         Jiangsu IoT Research and Development Center     17   2.833213
2                                        Qualcomm Inc     16   2.772589
3                                          Xerox Corp     13   2.564949
4                                  LG Electronics Inc     12   2.484907
5                                            ZTE Corp      9   2.197225
6                Gaoxing Zhilian Technology Co., Ltd.      9   2.197225
7                          Samsung Electronics Co Ltd      8   2.079442
8   China core Microelectronics Technology Chengdu...      7   1.945910
9                  Telefonaktiebolaget LM Ericsson AB      7   1.945910
10      Datang Mobile Communications Equipment Co Ltd      6   1.791759
11                                          Canon Inc      6   1.791759
12                                   IoT Holdings Inc      6   1.791759
13                  Fujifilm Business Innovation Corp      6   1.791759
14             The reservoir Hengke IOT System Co Ltd      5   1.609438
15  LANZHOU WEITE WELDING MATERIAL TECHNOLOGY CO.,...      5   1.609438
16       YANGZHOU SU'AN IOT SENSING TECHNOLOGY Co Ltd      5   1.609438
17  Shanghai state core Internet of things Technol...      5   1.609438
18               Nanjing IoT Sensor Technology Co Ltd      5   1.609438
19                 Jiangsu Kairun Technology Co.,Ltd.      5   1.609438
20             Chengdu Qinchuan IoT Technology Co Ltd      5   1.609438
21                    Huaiyin Institute of Technology      5   1.609438
22                               Cisco Technology Inc      4   1.386294
23  JIANGSU HENGHUA IOT TECHNOLOGY DEVELOPMENT Co Ltd      4   1.386294
24             China Petroleum and Natural Gas Co Ltd      4   1.386294
25           New best technology (Shanghai) Co., Ltd.      4   1.386294
26                 Xiamen Xindeco IOT Technology Ltd.      4   1.386294
27              ZTE Intelligent Iot Technology Co Ltd      4   1.386294
28                                  Petrochina Co Ltd      3   1.098612
29     SHANDONG GOLD MINING CO Ltd XINCHENG GOLD MINE      3   1.098612

公司名稱正規化

In [15]:
com_df["company"] = com_df.company.apply(lambda x: x.replace(" Inc","")\
                                                    .replace(" Co Ltd","")\
                                                    .replace(" Co. Ltd.","")\
                                                    .replace(" Co., Ltd.","")\
                                                    .replace(" Ltd","")\
                                                    .replace(" Corp","")\
                                                    .replace("..","")\
                                                    .replace("International Business Machines","IBM")\
                                                    .replace("Nippon Telegraph and Telephone","Nippon Telegraph & Tel")\
                                                    .replace("Alibaba Group Holding Ltd","Alibaba")\
                                                    .replace("ZTE Intelligent IoT Technology","ZTE"))

In [16]:
com_df

                                              company  count  count_log
0                        Jinhu Zhongbo IOT Technology     30   3.401197
1         Jiangsu IoT Research and Development Center     17   2.833213
2                                            Qualcomm     16   2.772589
3                                               Xerox     13   2.564949
4                                      LG Electronics     12   2.484907
5                                                 ZTE      9   2.197225
6                          Gaoxing Zhilian Technology      9   2.197225
7                                 Samsung Electronics      8   2.079442
8   China core Microelectronics Technology Chengdu...      7   1.945910
9                  Telefonaktiebolaget LM Ericsson AB      7   1.945910
10             Datang Mobile Communications Equipment      6   1.791759
11                                              Canon      6   1.791759
12                                       IoT Holdings      6   1.791759
13                       Fujifilm Business Innovation      6   1.791759
14                    The reservoir Hengke IOT System      5   1.609438
15  LANZHOU WEITE WELDING MATERIAL TECHNOLOGY CO.,...      5   1.609438
16              YANGZHOU SU'AN IOT SENSING TECHNOLOGY      5   1.609438
17  Shanghai state core Internet of things Technology      5   1.609438
18                      Nanjing IoT Sensor Technology      5   1.609438
19                 Jiangsu Kairun Technology Co.,Ltd.      5   1.609438
20                    Chengdu Qinchuan IoT Technology      5   1.609438
21                    Huaiyin Institute of Technology      5   1.609438
22                                   Cisco Technology      4   1.386294
23         JIANGSU HENGHUA IOT TECHNOLOGY DEVELOPMENT      4   1.386294
24                    China Petroleum and Natural Gas      4   1.386294
25                     New best technology (Shanghai)      4   1.386294
26                     Xiamen Xindeco IOT Technology.      4   1.386294
27                     ZTE Intelligent Iot Technology      4   1.386294
28                                         Petrochina      3   1.098612
29         SHANDONG GOLD MINING CO XINCHENG GOLD MINE      3   1.098612

In [17]:
com_ls = list(com_df.company)

# Data 2011

富比士2000資料

In [18]:
f_data = pd.read_csv("./Forbes/Forbes_2011.csv")

In [19]:
f_data[f_data["Industry"]=="Semiconductors"]

,Company,Industry,Country,Market Value,Sales,Profits,Assets,Rank,Forbes Webpage,Profits as % of Assets,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
32,Samsung Electronics,Semiconductors,South Korea,112.9,133.800,13.7000,119.3,33,http://www.forbes.com/companies/samsung-electr...,0.114837,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,Intel,Semiconductors,United States,114.5,43.600,11.5000,63.2,93,http://www.forbes.com/companies/intel,0.181962,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,Taiwan Semiconductor,Semiconductors,Taiwan,61.3,13.300,5.1000,23.7,273,http://www.forbes.com/companies/taiwan-semicon...,0.215190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
395,Texas Instruments,Semiconductors,United States,40.3,14.000,3.2000,13.4,396,http://www.forbes.com/companies/texas-instruments,0.238806,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
547,Applied Materials,Semiconductors,United States,19.8,10.400,1.4000,11.3,548,http://www.forbes.com/companies/applied-materials,0.123894,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
602,Micron Technology,Semiconductors,United States,10.2,9.000,1.8000,14.6,603,http://www.forbes.com/companies/micron-technology,0.123288,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
658,STMicroelectronics,Semiconductors,Switzerland,11.0,10.500,0.8417,13.0,658,http://www.forbes.com/companies/stmicroelectro...,0.064746,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
735,Broadcom,Semiconductors,United States,21.6,6.800,1.1000,7.9,736,http://www.forbes.com/companies/broadcom,0.139241,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
751,ASML Holding,Semiconductors,Netherlands,17.8,6.000,1.4000,8.2,752,http://www.forbes.com/companies/asml-holding,0.170732,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1030,Hynix Semiconductor,Semiconductors,South Korea,14.5,6.800,-0.2984,13.8,1031,http://www.forbes.com/companies/hynix-semicond...,-0.021623,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1047,MediaTek,Semiconductors,Taiwan,12.8,3.900,1.1000,4.8,1046,http://www.forbes.com/companies/mediatek,0.229167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1058,Infineon Technologies,Semiconductors,Germany,11.0,4.500,0.8978,6.4,1058,http://www.forbes.com/companies/infineon-techn...,0.140281,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1194,ASE-Advanced Semiconductor,Semiconductors,Taiwan,6.5,6.000,0.5856,7.3,1196,http://www.forbes.com/companies/ase-advanced-semi,0.080219,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1197,Marvell Technology Group,Semiconductors,Bermuda,10.2,3.600,0.9041,6.3,1199,http://www.forbes.com/companies/marvell-techno...,0.143508,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1214,Altera,Semiconductors,United States,12.9,2.000,0.7829,3.8,1216,http://www.forbes.com/companies/altera,0.206026,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1243,Analog Devices,Semiconductors,United States,11.4,2.900,0.8137,4.6,1245,http://www.forbes.com/companies/analog-devices,0.176891,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322,Advanced Micro,Semiconductors,United States,5.9,6.500,0.4710,5.0,1324,http://www.forbes.com/companies/advanced-micro,0.094200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1417,Xilinx,Semiconductors,United States,8.4,2.300,0.6304,3.9,1419,http://www.forbes.com/companies/xilinx,0.161641,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1516,Lam Research,Semiconductors,United States,6.4,3.000,0.6759,2.9,1517,http://www.forbes.com/companies/lam-research,0.233069,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535,KLA-Tencor,Semiconductors,United States,7.7,2.500,0.5098,4.2,1537,http://www.forbes.com/companies/kla-tencor,0.121381,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1549,Linear Technology,Semiconductors,United States,7.6,1.400,0.5061,1.4,1551,http://www.forbes.com/companies/linear-technology,0.361500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1587,Tokyo Electron,Semiconductors,Japan,11.1,4.500,-0.0967,7.2,1589,http://www.forbes.com/companies/tokyo-electron,-0.013431,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1616,Avago Technologies,Semiconductors,Singapore,7.5,2.200,0.4406,2.2,1618,http://www.forbes.com/companies/avago-technolo...,0.200273,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1687,Nvidia,Semiconductors,United States,10.5,3.500,0.2531,4.5,1689,http://www.forbes.com/companies/nvidia,0.056244,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1780,Microchip Technology,Semiconductors,United States,6.7,1.400,0.3692,2.8,1783,http://www.forbes.com/companies/microchip-tech...,0.131857,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1858,NXP Semiconductors,Semiconductors,Netherlands,6.8,4.500,-0.4625,7.7,1860,http://www.forbes.com/companies/nxp-semiconduc...,-0.060065,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1862,Atmel,Semiconductors,United States,5.5,1.600,0.4231,1.6,1865,http://www.forbes.com/companies/atmel,0.264437,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1919,Rohm,Semiconductors,Japan,7.2,3.600,0.0763,8.6,1921,http://www.forbes.com/companies/rohm,0.008872,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1933,ARM Holdings,Semiconductors,United Kingdom,11.3,0.634,0.1341,1.6,1936,http://www.forbes.com/companies/arm-holdings,0.083812,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1988,Elpida Memory,Semiconductors,Japan,2.8,5.000,0.0330,10.1,1990,http://www.forbes.com/companies/elpida-memory,0.003267,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
Ind_ls = list(f_data[f_data["Industry"]=="Semiconductors"].Company)

## 使用company top 30 做join

In [21]:
forb_ls = list(np.where(com_df.company.isin(Ind_ls), 1, 0))

In [22]:
com_df[com_df.company.isin(Ind_ls)]

               company  count  count_log
7  Samsung Electronics      8   2.079442

In [25]:
# pbc 0.1, 0.1
comp_ls = ["Jiangsu IoT Research and Development Center","Xerox","Datang Mobile Communications Equipment","IoT Holdings","LG Electronics","Qualcomm","Telefonaktiebolaget LM Ericsson AB","Xerox","ZTE"]

In [26]:
competitor_ls = list(np.where(com_df.company.isin(comp_ls), 1, 0))

In [27]:
com_df[com_df.company.isin(comp_ls)]

                                        company  count  count_log
1   Jiangsu IoT Research and Development Center     17   2.833213
2                                      Qualcomm     16   2.772589
3                                         Xerox     13   2.564949
4                                LG Electronics     12   2.484907
5                                           ZTE      9   2.197225
9            Telefonaktiebolaget LM Ericsson AB      7   1.945910
10       Datang Mobile Communications Equipment      6   1.791759
12                                 IoT Holdings      6   1.791759

In [28]:
# (labels_true, labels_pred)
nmi = normalized_mutual_info_score(forb_ls,competitor_ls)
ari = adjusted_rand_score(forb_ls,competitor_ls)

print("nmi: ",nmi)
print("ari: ", ari)

nmi:  0.02904990722043802
ari:  -0.04113110539845758

## 使用Forbes做join

In [29]:
forb_ls = list(np.where(f_data.Company.isin(Ind_ls), 1, 0))

In [30]:
# pbc 0.1, 0.1
comp_ls = ["Jiangsu IoT Research and Development Center","Xerox","Datang Mobile Communications Equipment","IoT Holdings","LG Electronics","Qualcomm","Telefonaktiebolaget LM Ericsson AB","Xerox","ZTE"]

In [31]:
competitor_ls = list(np.where(f_data.Company.isin(comp_ls), 1, 0))

In [32]:
# (labels_true, labels_pred)
nmi = normalized_mutual_info_score(forb_ls,competitor_ls)
ari = adjusted_rand_score(forb_ls,competitor_ls)

print("nmi: ",nmi)
print("ari: ", ari)

nmi:  0.000656746782454566
ari:  -0.0034893828444070153