In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
! nvidia-smi

Tue Jun 28 20:50:15 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 470.129.06   Driver Version: 470.129.06   CUDA Version: 11.4     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  NVIDIA GeForce ...  Off  | 00000000:01:00.0 Off |                  N/A |
| 47%   59C    P2    67W / 260W |   3635MiB / 11019MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+
|   1  NVIDIA GeForce ...  Off  | 00000000:02:00.0 Off |                  N/A |
| 31%   40C    P8    25W / 260W |      8MiB / 11019MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|    0   N/A  N/A      6976      G   /usr/lib/xorg/Xorg                  9MiB |
|    0   N/A  N/A      7277      G   /usr/bin/gnome-shell                7MiB |
|    0   N/A  N/A     13185      C   python                           1203MiB |
|    0   N/A  N/A     22016      C   python                           1207MiB |
|    0   N/A  N/A     23339      C   python                           1203MiB |
|    1   N/A  N/A      6976      G   /usr/lib/xorg/Xorg                  4MiB |
+-----------------------------------------------------------------------------+

In [3]:
# 使用GPU
os.environ["CUDA_VISIBLE_DEVICES"]="1"

# Data

In [9]:
cpc_2020 = pd.read_csv("../competitor_df/cpc_us_2020.csv")
cpc_2019 = pd.read_csv("../competitor_df/cpc_us_2019.csv")
cpc_2018 = pd.read_csv("../competitor_df/cpc_us_2018.csv")

In [10]:
cpc_2020

                                     company  2020_competitor  2020_forb
0                                   Qualcomm                1          1
1                                      Intel                1          1
2                             LG Electronics                1          3
3                                        IBM                1          2
4                        Huawei Technologies                1          4
5                          Micron Technology                1          1
6                                       AT&T                1          3
7                              Cisco Systems                1          2
8                     Verizon Communications                3          3
9                                  Microsoft                1          2
10                              T Mobile USA                4          4
11  Shanghai Langbo Communication Technology                4          4
12                                     Nokia                4          2
13                                       EMC                4          4

In [11]:
cpc_2019

                   company  2019_competitor  2019_forb
0                 Qualcomm                1          1
1           LG Electronics                1          3
2                      IBM                1          2
3                 Ericsson                2          2
4                    Intel                1          1
5            Cisco Systems                2          2
6                Microsoft                1          2
7                    Apple                4          2
8                     AT&T                4          3
9        Micron Technology                3          1
10     Huawei Technologies                2          4
11                    Sony                4          3
12  Verizon Communications                4          3
13                   Nokia                4          2

In [12]:
cpc_2019.iloc[:,0:2]

                   company  2019_competitor
0                 Qualcomm                1
1           LG Electronics                1
2                      IBM                1
3                 Ericsson                2
4                    Intel                1
5            Cisco Systems                2
6                Microsoft                1
7                    Apple                4
8                     AT&T                4
9        Micron Technology                3
10     Huawei Technologies                2
11                    Sony                4
12  Verizon Communications                4
13                   Nokia                4

In [13]:
cpc_all = cpc_2018.iloc[:,0:2].merge(cpc_2019.iloc[:,0:2],on = 'company',how = 'outer')
cpc_all = cpc_all.merge(cpc_2020.iloc[:,0:2],on = 'company',how = 'outer')

In [14]:
cpc_all

,company,2018_competitor,2019_competitor,2020_competitor
0,Qualcomm,1.0,1.0,1.0
1,Ericsson,1.0,2.0,NaN
2,Intel,1.0,1.0,1.0
3,IBM,1.0,1.0,1.0
4,Cisco Systems,1.0,2.0,1.0
5,Microsoft,1.0,1.0,1.0
6,Apple,2.0,4.0,NaN
7,Nokia,2.0,4.0,4.0
8,LG Electronics,4.0,1.0,1.0
9,Sony,4.0,4.0,NaN
10,Verizon Communications,4.0,4.0,3.0
11,NEC,4.0,NaN,NaN
12,Amazon Technologies,4.0,NaN,NaN
13,AT&T,4.0,4.0,1.0
14,Micron Technology,NaN,3.0,1.0
15,Huawei Technologies,NaN,2.0,1.0
16,T Mobile USA,NaN,NaN,4.0
17,Shanghai Langbo Communication Technology,NaN,NaN,4.0
18,EMC,NaN,NaN,4.0

In [15]:
com_ls = list(cpc_all.company)

## Forbes list  
- 同Industry：1
- 同Sector：2
- 有出現在company list：3
- Company list上有但Forbes沒有：4

In [47]:
f_data = pd.read_csv("../../Forbes/Forbes_2020.csv")

In [48]:
forb_ls =[]

for i in com_ls:
    if (f_data["Company"]==i).any():
        if (f_data[f_data.Company==i]["Industry"]=="Semiconductors").any():
            forb_ls.append(1)
        elif (f_data[f_data.Company==i]["Sector"]=="Information Technology").any():
            forb_ls.append(2)
        else:
            forb_ls.append(3)
    else:
        forb_ls.append(4)

In [49]:
forb_ls

[1, 2, 1, 2, 2, 2, 2, 2, 3, 3, 3, 2, 4, 3, 1, 4, 4, 4, 4]

In [50]:
cpc_all["forb_2020"] = forb_ls

In [51]:
cpc_all

,company,2018_competitor,2019_competitor,2020_competitor,forb_2019,forb_2020
0,Qualcomm,1.0,1.0,1.0,1,1
1,Ericsson,1.0,2.0,NaN,2,2
2,Intel,1.0,1.0,1.0,1,1
3,IBM,1.0,1.0,1.0,2,2
4,Cisco Systems,1.0,2.0,1.0,2,2
5,Microsoft,1.0,1.0,1.0,2,2
6,Apple,2.0,4.0,NaN,2,2
7,Nokia,2.0,4.0,4.0,2,2
8,LG Electronics,4.0,1.0,1.0,3,3
9,Sony,4.0,4.0,NaN,3,3
10,Verizon Communications,4.0,4.0,3.0,3,3
11,NEC,4.0,NaN,NaN,2,2
12,Amazon Technologies,4.0,NaN,NaN,4,4
13,AT&T,4.0,4.0,1.0,3,3
14,Micron Technology,NaN,3.0,1.0,1,1
15,Huawei Technologies,NaN,2.0,1.0,4,4
16,T Mobile USA,NaN,NaN,4.0,4,4
17,Shanghai Langbo Communication Technology,NaN,NaN,4.0,4,4
18,EMC,NaN,NaN,4.0,4,4

In [27]:
len(cpc_all[cpc_all["2019_competitor"]==cpc_all["forb_2019"]])

4

In [28]:
# 當年正確預測比例
len(cpc_all[cpc_all["2019_competitor"]==cpc_all["forb_2019"]])/len(cpc_all)

0.21052631578947367

In [58]:
# 轉換比例
cpc_all[(cpc_all["2020_competitor"]==cpc_all["forb_2020"])&(cpc_all["2019_competitor"]!=1)]

,company,2018_competitor,2019_competitor,2020_competitor,forb_2019,forb_2020
10,Verizon Communications,4.0,4.0,3.0,3,3
14,Micron Technology,NaN,3.0,1.0,1,1
16,T Mobile USA,NaN,NaN,4.0,4,4
17,Shanghai Langbo Communication Technology,NaN,NaN,4.0,4,4
18,EMC,NaN,NaN,4.0,4,4

In [59]:
len(cpc_all[(cpc_all["2020_competitor"]==cpc_all["forb_2020"])&(cpc_all["2019_competitor"]!=1)])/len(cpc_all)

0.2631578947368421